n8n-workflows/sarah-ai-phone-assistant.json
{
  "name": "Sarah AI Phone Assistant - Complete CRM Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b26b5330-bfd6-46e2-95e9-3b7d06c0b95d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "twilio-webhook",
      "name": "📞 Twilio Incoming Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "b26b5330-bfd6-46e2-95e9-3b7d06c0b95d"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are Sarah, a professional AI assistant for Surprise Granite, a home improvement company. You handle incoming phone calls.\n\nYour capabilities:\n- Schedule appointments in Google Calendar\n- Send email confirmations\n- Provide information about services\n- Collect customer details\n- Handle inquiries professionally\n\nServices we offer:\n- Granite & quartz countertops\n- Kitchen renovations\n- Bathroom remodels\n- Cabinet installations\n- Free consultations\n\nWhen customers call:\n1. Greet them warmly\n2. Ask how you can help\n3. If they want an appointment, collect: name, phone, email, project type, preferred time\n4. If they have questions, provide helpful information\n5. Always be professional and friendly\n\nRespond in JSON format:\n{\n  \"response\": \"What you'll say to the customer\",\n  \"action\": \"schedule_appointment|send_info|collect_details|general_inquiry\",\n  \"customer_info\": {\n    \"name\": \"extracted name or null\",\n    \"phone\": \"extracted phone or null\",\n    \"email\": \"extracted email or null\",\n    \"project_type\": \"kitchen/bathroom/countertop/etc or null\",\n    \"preferred_time\": \"extracted timing or null\"\n  },\n  \"ready_to_book\": true,\n  \"next_step\": \"what to do next\"\n}",
              "role": "system"
            },
            {
              "content": "Customer call details: {{ $json }}\nCall from: {{ $json.From }}\nCall to: {{ $json.To }}\nCall status: {{ $json.CallStatus }}\n\nThis is the start of a phone conversation. Greet the customer and ask how you can help them today."
            }
          ]
        },
        "options": {}
      },
      "id": "sarah-ai-brain",
      "name": "🧠 Sarah's AI Brain",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "BFMuEOYFYeVSi9ol",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-to-schedule",
              "leftValue": "={{ JSON.parse($json.message.content).ready_to_book }}",
              "rightValue": "={{true}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ready-to-book",
      "name": "📅 IF Ready to Book Appointment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "info@surprisegranite.com",
          "mode": "list",
          "cachedResultName": "info@surprisegranite.com"
        },
        "start": "={{ new Date(Date.now() + 24*60*60*1000).toISOString() }}",
        "end": "={{ new Date(Date.now() + 24*60*60*1000 + 60*60*1000).toISOString() }}",
        "additionalFields": {
          "summary": "Free Consultation - {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.name }}",
          "description": "Customer: {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.name }}\\nPhone: {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.phone }}\\nEmail: {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.email }}\\nProject: {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.project_type }}\\n\\nScheduled via phone call with AI assistant Sarah",
          "location": "Customer's home"
        }
      },
      "id": "book-appointment",
      "name": "📅 Book Google Calendar Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [900, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3AMvDCachi1ACXy9",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.email || \"info@surprisegranite.com\" }}",
        "subject": "✅ Your Surprise Granite Consultation is Scheduled!",
        "message": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #2c5aa0;\">Thank you for calling Surprise Granite! 📞</h2>\n  \n  <p>Hi {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.name }},</p>\n  \n  <p>It was great speaking with you! As promised, here are the details of your <strong>FREE consultation</strong>:</p>\n  \n  <div style=\"background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <h3>📅 Appointment Details</h3>\n    <p><strong>Date & Time:</strong> {{ $json.start.dateTime }}</p>\n    <p><strong>Duration:</strong> 1 hour</p>\n    <p><strong>Type:</strong> Free In-Home Consultation</p>\n    <p><strong>Project:</strong> {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.project_type }}</p>\n  </div>\n  \n  <p><a href=\"{{ $json.htmlLink }}\" style=\"background: #2c5aa0; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">📅 Add to Your Calendar</a></p>\n  \n  <div style=\"background: #e7f3ff; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <h3>What to Expect:</h3>\n    <ul>\n      <li>✓ Professional assessment of your space</li>\n      <li>✓ Design recommendations and samples</li>\n      <li>✓ Detailed project estimate</li>\n      <li>✓ Timeline and process discussion</li>\n      <li>✓ No obligation - completely free!</li>\n    </ul>\n  </div>\n  \n  <div style=\"background: #fff3cd; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <h3>📞 Your Direct Contact</h3>\n    <p>If you have any questions before your appointment, feel free to call us back at the same number. Sarah (our AI assistant) or one of our team members will be happy to help!</p>\n  </div>\n  \n  <p><strong>Questions?</strong> Reply to this email or call us at your convenience.</p>\n  <p>We're excited to help transform your space!</p>\n  \n  <p>Best regards,<br><strong>The Surprise Granite Team</strong><br><em>Scheduled by Sarah, your AI assistant</em></p>\n</div>",
        "options": {
          "replyTo": "info@surprisegranite.com"
        }
      },
      "id": "send-appointment-email",
      "name": "📧 Send Appointment Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "25sT5n3fCqJmt430",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "xi-api-key",
              "value": "sk_472e6f3132c476da9b2f1f306b59649c458ce283cd8009c2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Perfect! I've scheduled your free consultation for tomorrow and you'll receive an email confirmation shortly. We're excited to help with your {{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).customer_info.project_type }} project!\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "voice-response.mp3"
            }
          }
        }
      },
      "id": "generate-sarah-voice",
      "name": "🗣️ Generate Sarah's Voice Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "IDIMFblHp73q7lE9",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "xi-api-key",
              "value": "sk_472e6f3132c476da9b2f1f306b59649c458ce283cd8009c2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).response }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "voice-response.mp3"
            }
          }
        }
      },
      "id": "generate-info-voice",
      "name": "🗣️ Generate Info Voice Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "IDIMFblHp73q7lE9",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\">Perfect! I've scheduled your free consultation for tomorrow and you'll receive an email confirmation shortly. We're excited to help with your project! Is there anything else I can help you with today?</Say>\n</Response>",
        "options": {}
      },
      "id": "twilio-response-booked",
      "name": "📞 Twilio Response - Appointment Booked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\">{{ JSON.parse($('🧠 Sarah\\'s AI Brain').item.json.message.content).response }} Is there anything else I can help you with today? If you'd like to schedule a free consultation, I'd be happy to set that up for you!</Say>\n</Response>",
        "options": {}
      },
      "id": "twilio-response-info",
      "name": "📞 Twilio Response - General Info",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "📞 Twilio Incoming Call": {
      "main": [
        [
          {
            "node": "🧠 Sarah's AI Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Sarah's AI Brain": {
      "main": [
        [
          {
            "node": "📅 IF Ready to Book Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 IF Ready to Book Appointment": {
      "main": [
        [
          {
            "node": "📅 Book Google Calendar Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🗣️ Generate Info Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Book Google Calendar Appointment": {
      "main": [
        [
          {
            "node": "📧 Send Appointment Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Appointment Confirmation Email": {
      "main": [
        [
          {
            "node": "🗣️ Generate Sarah's Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗣️ Generate Sarah's Voice Response": {
      "main": [
        [
          {
            "node": "📞 Twilio Response - Appointment Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗣️ Generate Info Voice Response": {
      "main": [
        [
          {
            "node": "📞 Twilio Response - General Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a54d3697fd12b1e37a5a321629bc8e98a72868be2cd8fbb26d0b6a1af3073350"
  }
}